nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #000000;
}

.brand,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h2 {
  transition: 0.4s;
  display: flex;
  align-items: center;
  text-align: center;
}

h2:hover {
  color: #c91d1d;
}

.brand:hover {
  color: #c91d1d;
}

.brand img {
  width: 100px;
  margin-right: 0.6em;
}

.links a {
  padding: 10px;
  border-radius: 5px;
}

.links li {
  list-style: none;
  margin-right: 1em;
}

a {
  color: #c91d1d;
}

.links a:hover {
  background-color: rgb(231, 231, 231);
  color: #000000;
}
