<div class="filme" *ngIf="filme">

    <h1> {{ filme.title }}</h1>
    <img src="{{ baseApiUrl }}uploads/{{ filme.image }}" alt=" {{ filme.title }}">

    <h5>Autor {{ filme.author }} </h5>

    <div class="about-filme">
        <h2>Descrição: </h2>
        <p id="description"> {{ filme.description }} </p>
    </div>

    <div class="actions">
        <a routerLink="/filme/edit/{{ filme.id }}" class="edit-btn">
            <fa-icon [icon]="faEdit"></fa-icon> Editar
        </a>

        <a class="remove-btn" (click)="removeHandle(filme.id!)">
            <fa-icon [icon]="faTimes"></fa-icon> Excluir
        </a>
    </div>
</div>