<div class="filme" *ngIf="filme">

    <h1> {{ filme.title }}</h1>
    <img src="{{ baseApiUrl }}uploads/{{ filme.image }}" alt=" {{ filme.title }}">
    <h6> {{ filme.author }} </h6>

    <div class="about-filme">
        <h3>Descrição: </h3>
        <p> {{ filme.description }} </p>
    </div>

    <div class="actions">
        <a routerLink="/filme/edit/{{ filme.id }}" class="edit-btn">
            <fa-icon [icon]="faEdit"></fa-icon> Editar
        </a>

        <button class="remove-btn" (click)="removeHandle(filme.id!)">
            <fa-icon [icon]="faTimes"></fa-icon> Excluir
        </button>
    </div>
</div>